
#article{
    background-color: #f7efef;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#title{
    font-weight: bold;
    margin-top: 10px; 
    
}

#div-icone{
    font-weight: bold;
    margin-left: 340px;
    margin-top: -20px;
    margin-bottom: 10px;
}

#icone{
    width: 20px;
    height: 20px;
    
}

#main_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#btn{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 115px;
    height: 25px;
    background: rgb(152, 153, 153);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    

}

#description{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}